/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("../../images/Background-image-blue.jpg");
}

/* Center the "about-us" div */
.about-us {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Use a percentage for max-width */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the h1 heading */
h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
/*  word-break: break-all; /* Prevent h1 text from wrapping */
}

/* Style the paragraph */
p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .about-us {
    max-width: 95%; /* Adjust as needed for smaller screens */
  }

  h1 {
    font-size: 1em; /* Adjust h1 font size for smaller screens */
  }
}

h1,
p {
  word-wrap: break-word;
}
